a,
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}


.instruction-step {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  .instruction-image {
    max-height: 300px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .step-number {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
}
